/* styles.css */

body {
    font-family: Arial, sans-serif; /* Установка шрифта */
    background-color: #ffffff; /* Цвет фона страницы */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Устанавливаем вертикальное направление для Flexbox */
    min-height: 100vh; /* Обеспечиваем, что тело занимает всю высоту экрана */
}

#app {
    flex: 1; /* Позволяет приложению занимать все доступное пространство */
    max-width: 1200px; /* Максимальная ширина приложения */
    margin: 0 auto; /* Центрирование */
}

header {
    background-color: #ffcc00; /* Желтый цвет заголовка */
    padding: 20px; /* Отступы */
    text-align: center; /* Центрирование текста */
    width: 100%; /* Ширина на всю страницу */
}



.track-container {
    display: flex; /* Используем flexbox для отображения треков */
    flex-wrap: wrap; /* Оборачиваем элементы на новой строке */
    justify-content: space-between; /* Распределяем треки равномерно */
    gap: 20px; /* Отступы между элементами */
}

.track {
    background-color: #fff; /* Белый цвет фона для обложки */
    border-radius: 15px; /* Скругленные углы */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Тень */
    overflow: hidden; /* Скроем элементы, выходящие за границы */
    text-align: center; /* Центрирование текста внутри трека */
    cursor: pointer; /* Курсор в виде указателя */
    transition: transform 0.2s; /* Плавный переход для эффекта */
    flex: 1 1 calc(25% - 20px); /* 4 трека в ряд с учетом отступов */
}

.track:hover {
    transform: scale(1.05); /* Увеличение при наведении */
}

.track img {
    width: 100%; /* Ширина обложки 100% */
    border-radius: 15px 15px 0 0; /* Скругление только верхних углов */
}

.track p {
    margin: 10px 0; /* Отступы для текста */
    color: #333; /* Цвет текста */
}

.audio-player {
    width: 100%; /* Ширина плеера 100% */
    margin-top: 20px; /* Отступ сверху */
}
